# shellcheck disable=SC2034,SC2148

# rclone-home
RCLONE_HOME_ACCESS_TOKEN='<access_token>'
RCLONE_HOME_REFRESH_TOKEN='<refresh_token>'
RCLONE_HOME_EXPIRY='<expiry_date>'
# :rclone-home

# swagger-editor
SWAGGER_EDITOR_PORT=<port>
# :swagger-editor
